<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>

    <div class="checkout-payment">
        <form action="<%= ROUTE.checkout %>" method="POST" class="startbuttons">
            <div class="pageheadline">
                <h1>Varukorg</h1>
            </div>
            <div class="shoppingcart-container">
                <div class="wishlist-shoppingcart-continer">
                    <% showUserInfo.wishlist.forEach( (obj)=> { %>
                    <div class="wishlist-shoppingcart-innercontiner">
                        <div class="product-img"> </div>
                        <div class="wishlist-shoppingcart-info">
                            <div class="wishlist-shoppingcart-item ">Album: <%= obj.productId.album %> </div>
                            <div class="wishlist-shoppingcart-item ">Artist: <%= obj.productId.artist %> </div>
                            <div class="wishlist-shoppingcart-item ">Album ID: <%= obj.productId._id %> </div>
                            <div class="wishlist-shoppingcart-item ">Pris: <%= obj.productId.price %> SEK</div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <div class="checkout-button">
                <button type="submit">BESTÄLL</button>
            </div>
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>