<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
<main>
    <div class="container">
        <div class="pageheadline">
            <h2 class="my-3"><%= errmsg %></h2>
        </div>

        <form class="startbuttons" method="get">
            <button type="submit" formaction="<%=ROUTE.index%>">HEM</button>
            <button type="submit" formaction="<%=ROUTE.gallery%>">WEBSHOP</button>
            <% if (token) { %>
            <button type="submit" formaction="<%=ROUTE.userAccount%>">MIN PROFIL</button>
            <button type="submit" formaction="<%=ROUTE.admin%>">ADMIN</button>
            <% } else { %>
            <button type="submit" formaction="<%=ROUTE.login%>">LOGGA IN</button>
            <button type="submit" formaction="<%=ROUTE.createUser%>">BLI MEDLEM</button>
            <% }%>
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>